
<div class="row">
  <div id="col1" class="col-xs-6">coco 1</div>
  <div id="col2" class="col-xs-6">
      <pre id='code'>
      </pre>
  </div>
</div>

<script>
    var output= utils.recursiveJSON(testdata);
    $("#col1").html(output);
    $("#code").html(JSON.stringify(testdata,null,'\t'));
    
    
 </script>
 