
 
<div class="row"> 
  <div id="col1" class="col-xs-6"> 
  </div> 
  <div id="col2" class="col-xs-6">
      <pre id='code'>
      </pre>
  </div>
</div>
<div>
    
    </div>
<script>
    var svar=testdata;
    var output= recursiveJSON(svar);
    $("#col1").html(output);
    $("#code").html(JSON.stringify(svar,null,'\t')); 
    
    
    
    
 </script>
 