body {
  padding: 10px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}
.arrayclass{
    color:red;
}
.objectclass{
    color:green;
}
.valstyle{
    color:red;   
}

.keystyle{
    color:green;
}
